.container {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: #f3f2f1;
    .image {
      display: flex;
      height: 400px;
      aspect-ratio: 9/16;
    }
  }

  .details_container {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 30px;
    padding: 25px;

    .categories {
      font-size: medium;
      color: #676767;
    }

    .title {
      font-weight: bold;
      font-size: larger;
      letter-spacing: 1px;
      max-width: 600px;
    }

    .authors {
      font-size: medium;
      color: #676767;
      text-decoration: underline;
    }

    .description {
      border-radius: 5px;
      overflow-y: auto;
      padding: 10px;
      max-width: 600px;
      height: 300px;
      font-size: large;
      border: 1px solid lightgray;
    }
  }
}
