$darkTextColor: white;
$darkBgColor: rgb(5, 5, 62);
$lightTextColor: black;
$lightBgColor: white;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (max-width: 320px) {
    flex-wrap: wrap;
  }

  .label {
    color: white;
    font-size: larger;
  }

  .select {
    border-radius: 10px;
    border: none;
    font-size: large;
    width: 170px;
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    &:invalid {
      color: gray;
    }

    .options {
      cursor: pointer;
    }
  }
}

.light {
  background-color: $lightBgColor;
  color: $lightTextColor;
}

.dark {
  background-color: $darkBgColor;
  color: $darkTextColor;
}
