.container {
  display: grid;
  grid-template-rows: 60% 10% 25% 5%;
  width: 200px;
  height: 370px;
  background-color: #f3f2f1;
  padding: 25px;
  border-radius: 15px;

  .category {
    display: flex;
    align-items: center;
    color: #a0a4a7;
    text-decoration: underline;
    grid-row-start: 2;
    word-break: break-all;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding: 0;
    overflow: hidden;
    font-weight: 600;
    font-size: large;
    grid-row-start: 3;
    height: fit-content;
  }

  .author {
    color: #a0a4a7;
    grid-row-start: 4;
    word-break: break-all;
  }

  .image_container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 128px;
      height: 200px;
    }
  }
}
